@import './../../../assets/scss/variables.scss';

.background{
  @apply h-screen;
  background-image: url(../../../assets/images/snow_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

.login {
  @apply w-fit m-auto border-solid border-2 rounded p-5 shadow-2xl fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ($secondary-bg-color-transparent);
  
  border-color: black;

  header {
    @apply m-auto w-64;
  }

  .button-panel{
    @apply flex flex-col justify-center self-center w-max mx-auto;

    button {
      @apply border-none rounded w-52 shadow-lg my-2 h-9;
      background-color: $button-bg-color;
      color: $secondary-text-color;
      font-family: $titles-font;
      &:hover{
        color: $button-hover-color;
      }
    }
    
    .register-button{
      background-image: url("./../../../assets/images/google-symbol.png");
      background-size:15%;
      background-repeat: no-repeat;
      background-position: 80%;
    }
  }
}