@import './../../../assets/scss/variables.scss';

:host{
  @apply fixed left-0 right-0 top-1/4;
}

.login {
  @apply w-fit m-auto border-solid border-2 rounded p-5 w-fit shadow-2xl;
  background-color: $secondary-bg-color;
  border-color: black;

  header {
    @apply m-auto w-64;
  }

  .button-panel{
    @apply flex flex-col justify-center self-center w-max mx-auto;

    button {
      @apply border-none rounded w-52 shadow-lg my-2 h-9;
      background-color: $button-bg-color;
      color: $secondary-text-color;
      font-family: $titles-font;
      &:hover{
        color: $button-hover-color;
      }
    }
    
    .register-button{
      background-image: url("./../../../assets/images/google-symbol.png");
      background-size:15%;
      background-repeat: no-repeat;
      background-position: 80%;
    }
  }
}