<div class="main">
  <div *ngFor="let user of users">
    <div *ngIf="user.email != 'skitab.soft@gmail.com'" class="users">
      <p>{{ user.email }} </p>
      <div class="panelButton">
        <button (click)="changeStatus(user.key, user.isActive)" [ngClass]="user.isActive? 'active-user' : 'inactive-user'">{{ user.isActive | isActive}}<mat-icon>loop</mat-icon></button>
        <button (click)="changeRole(user.key, user.role)" [ngClass]="user.role? 'admin-user' : ''">{{ user.role | role }}<mat-icon>loop</mat-icon></button>
        <button (click)="removeUser(user.key, user.email)" ><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
</div>