// background colors
$primary-bg-color: white;
$secondary-bg-color: #dddfe9;
$secondary-bg-color-transparent: #dddfe95b;
// text color
$primary-text-color: black;
$secondary-text-color: whitesmoke;
//button color
$button-bg-color: #2f42a0;
$button-text-color: whitesmoke;
$button-hover-color: #FFDC75;
$button-hover-color-lighter: #ffdd7593;
// titles font
$titles-font: 'Archivo', sans-serif;

