// background colors
$primary-bg-color: white;
$secondary-bg-color: #dddfe9;
// text color
$primary-text-color: black;
$secondary-text-color: whitesmoke;
//button color
$button-bg-color: #2f42a0;
$button-text-color: whitesmoke;
$button-hover-color: #FFDC75;
// titles font
$titles-font:'Exo', sans-serif;

