<div class="aside-panel" *ngIf="show">
  <ul class="competitions-panel">
    <li class="competitions" *ngFor="let competition of competitionsFiltered">
      <div class="panel-buttons">
        <button 
          class="tag-button w-28" 
        >{{competition.tag}}</button>
        <button 
          class="create-category-button" 
          title="Create category"
          (click)="openCreateCategory(competition.id, emptyData)"
        ><mat-icon>add</mat-icon></button>
        <button 
          (click)="openCreateCompetition(competition)" 
          class="edit-button" 
          title="Edit Competition"
        ><mat-icon>edit</mat-icon></button>
      </div>
      <ul class="categories">
        <li *ngFor="let category of categories">
          <div class="panel-buttons" *ngIf="category.category_of === competition.id">
            <button 
              (click)="shareDataToBoard(competition.id, category.id, category.pace_time, category.gender)" 
              class="tag-button category w-24"
            >{{category.tag}}</button>
            <button
              class="edit-button" 
              title="Add Competitor"
              (click)="openCreateCompetitor(competition.id, category.id)"
            ><mat-icon>add</mat-icon></button>
            <button 
              class="edit-button" 
              title="Edit Category" 
              (click)="openCreateCategory(competition.id, category)"
            ><mat-icon>edit</mat-icon></button>
          </div>
        </li>
      </ul>
    </li>  
  </ul>
  <button 
    class="create-competition-button" 
    (click)="openCreateCompetition(emptyData)" 
    title="Create Competition"
  >Create Competition</button>
</div>
