@import './../../../assets/scss/variables.scss';

.score-panel{
  @apply w-fit mx-auto mt-6;
  table{
    @apply mx-4;
  }
}

thead{
  background-color: $secondary-bg-color;
  th{
    @apply h-7;
    border: 1px solid black;
  }
  .last-row th{
    @apply px-2;
  }
}

tbody{
  td{
    @apply p-1 align-middle;
    border: 1px solid black;
  }
  .score{
    @apply flex;
    background-color: $button-bg-color;
    color: $button-text-color;
  }
}

.border-b-none{
  border-bottom: none;
}

.border-l-none{
  border-left: none;
}

.border-r-none{
  border-right: none;
}