<div class="score-panel" *ngIf="competitors.length > 0">
  <table> 
    <thead>
      <tr>
        <th rowspan="3" class="px-2">Rank</th>
        <th rowspan="3" class="px-2">Bib</th>
        <th rowspan="3">Name</th>
        <th colspan="2">Time</th>
        <th colspan="9">Air</th>
        <th colspan="7">Turn</th>
        <th rowspan="3" class="px-2">Run Score</th>
      </tr>
      <tr>
        <th rowspan="2" class="px-2">Seconds</th>
        <th rowspan="2" class="px-2">Points</th>
        <th colspan="4">Jump 1</th>
        <th colspan="4">Jump 2</th>
        <th rowspan="2" class="px-2">Total</th>
        <th colspan="2">J1</th>
        <th colspan="2">J2</th>
        <th colspan="2">J3</th>
        <th rowspan="2" class="px-2">Total</th>
      </tr>
      <tr class="last-row">
        <th >J4</th>
        <th>J5</th>
        <th>Trick</th>
        <th>DD</th>
        <th>J4</th>
        <th>J5</th>
        <th>Trick</th>
        <th>DD</th>
        <th>B</th>
        <th>D</th>
        <th>B</th>
        <th>D</th>
        <th>B</th>
        <th>D</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let competitor of competitors; let i = index">
        <td>{{i+1}}</td>
        <td>{{competitor.bib}}</td>
        <td>{{competitor.name}}</td>
        <td>{{competitor.time_seconds}}</td>
        <td>{{competitor.time_points}}</td>
        <td>{{competitor.jump1_j4_points}}</td>
        <td>{{competitor.jump1_j5_points}}</td>
        <td>{{competitor.jump1_trick}}</td>
        <td>{{competitor.jump1_dd}}</td>
        <td>{{competitor.jump2_j4_points}}</td>
        <td>{{competitor.jump2_j5_points}}</td>
        <td>{{competitor.jump2_trick}}</td>
        <td>{{competitor.jump2_dd}}</td>
        <td>{{competitor.jumps_total}}</td>
        <td>{{competitor.turns_j1_b}}</td>
        <td>{{competitor.turns_j1_d}}</td>
        <td>{{competitor.turns_j2_b}}</td>
        <td>{{competitor.turns_j2_d}}</td>
        <td>{{competitor.turns_j3_b}}</td>
        <td>{{competitor.turns_j3_d}}</td>
        <td>{{competitor.turns_total}}</td>
        <td>{{competitor.run_score}}</td>
        <button 
          (click)="openScoreCompetitor(this.competitionId, this.categoryId, this.paceTime, this.gender, competitor)"
          class="score"
        ><mat-icon>edit</mat-icon></button>
      </tr>
    </tbody>
  </table>
</div>